name: CI
on: [push]

jobs:
  test:
    name: continuous-integration
    runs-on: ubuntu-latest

    strategy:
      matrix:
        emacs_version:
          - '28.2'
          - '29.4'
          - '30.2'

    steps:
      - name: Setup Repository
        uses: actions/checkout@v4
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Setup Eask
        uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'
      - name: Set up dependencies
        run: make install
      - name: Run Lint
        run: make lint
      - name: Run Tests
        run: make tests
